<?xml version="1.0" encoding="UTF-8"?>
<mapper>
    <object type="com.tw.orm.testObjects.User">
        <property name="id" field="_id" isId="true" />
        <property name="username" field="username" />
        <property name="nickname" field="nickname" />
    </object>

    <object type="com.tw.orm.testObjects.Person">
        <property name="personLocation" field="location" />
        <property name="sex" field="sex" />
        <property name="sons" field="sons" />
    </object>

</mapper>