li {
    list-style-type: none;
}

li.column {
    float: left;
    display: inline-block;
}

.title {
    margin-bottom: 10px;
}

ul.component {
    border: 1px solid blanchedalmond;
    padding: 5px;
    margin: 10px 0;
}